h1 {
    padding: 1vh;
    background-color: #00A49520;
    border: #00A495 5px solid;
}
h2 {
    color: #00A495;
    font-weight: 100;
    font-size: 100px;
    text-align: right;
}
h3 {
    font-family: "함초롬돋움";
    font-weight: 900;
}
div {
    border: #00A495 1px solid;
}
.blackBorder {
    border: black 10px solid
}
.blackBorder div {
    border: purple 5px solid;
}
#cyanBorder {
    border: cyan 10px solid;
}
#cyanBorder div {
    border: magenta 5px solid;
}
#cyanBorder ~ div {
    background-color: lightgoldenrodyellow;
}
#cyanBorder + div {
    background-color: lightgray;
}