main {
    .welcome {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 3rem;
        font-size: 4rem;
        font-weight: bolder;

        background: linear-gradient(135deg,rgba(35, 185, 239, 0.5) 0%, rgba(1, 59, 132, 0.5) 100%);;
        
        img {
            height: fit-content;
            max-height: 80px;
        }
    }
    .announcement {
        margin: 3rem;
        padding: 2rem;
        border: #E04226 1px solid;
        background-color: #E0422611;
        font-size: 3rem;
    }

    .links {
        display: grid;
        margin: 3rem;
        gap: 3rem;
        grid-template-columns: 1fr 1fr;

        .funcs {
            background-color: red;

            border-radius: 1rem;

            aspect-ratio: 5/1;

            a {
                padding: 2rem;

                display: block;
                width: 100%;
                height: 100%;
            }

            .funcname {
                font-size: 3rem;
                font-weight: 700;
            }
            .funcdesc {
                font-size: 2rem;
            }
        }
    }

    .desc {
        margin: 3rem;
        padding: 2rem;
        font-size: 2rem;
        border-radius: 1rem;
        background-color: #ebf1fa;
    }
}